
body{
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0px 10px rgba(0,0,0, 0.1);
    padding: 20px;
    max-width: 600px;
}
h1{
     text-align: center;
}
form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
input {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
}
select {
    padding: 10px;
    width: 30%;

}
button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
} 
.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#taskList {
    list-style-type : none;
    padding: 0;
}
.taskItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #add;
    border-radius: 4px;
}
.completed {
    text-decoration: line-through;
    color: grey;
}
.high {
    background-color: #f8d7da;
}
.medium {
    background-color: #fff3cd;
}
.low{
    background-color: #d4edda;
}
button.delete {
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
}
button.delete:hover {
    background-color: #c0392b;
}
